* {
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  color: #000000;  
}

.root {
  display: flex;
  justify-content: center;
  background: #E5E5E5;

  min-height: 100vmin;
}